.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  
  /* box-shadow: 2px 4px 20px 1px #3131310d; */
  /* background: linear-gradient(
    180deg,
    #db4437 0%,
    #4285f4 32.81%,
    #00ab47 66.15%,
    #ffba00 100%
  ); */
  background-color: transparent;
  padding: 1px;
  border-radius: 5px;
  text-align: center;
}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2.5rem;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #828282;
  padding-bottom: 4rem;
  justify-content: center;
}


.tag{ 
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  background: red;
  border-bottom-left-radius: 100px;
  width: 80px;
  font-size: 40px;
  padding-left: 20px;
  font-weight: 600;
}

.title {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}

.title h3 {
  margin-left: 10px;
  font-size: 27px;
  text-align: center !important;
  font-weight: 600;
}

.title .svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container svg{
  width: 40px;
  height: auto;
    transform: scale(0.9) !important;
}

.text {
  font-size: 17px;
  line-height: 1.25rem;
}

@media screen and (max-width: 1250px) {
  .title h3 {
    margin-left: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 650px){
    .title{
        margin-bottom: 12px;
    }
    .title h3{
      font-size: 19px;
    }
    .content{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 75%;
    }
    .text{
      font-size: 14px;
    }
    
}